* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* game list design */

.game-container {
    width: calc(100%);
    min-height: 80vh;
    padding: 2ch;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px 5px;
    justify-content: center;
    overflow-x: hidden;
    background: url("../media/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: fill;
}

.game {
    min-height: 250px;
    height: 40%;
    border: 2px solid rgba(105, 104, 104);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    background: rgb(159, 49, 172);
}

.game:hover {
    opacity: 60%
}

.thumbnail {
    width: 100%;
    height: 150px;
    object-fit: fill;
}

.content {
    width: 100%;
    height: 100px;
    padding: 0.7ch;
    display: flex;
    justify-content: space-between;
}

.game-icon {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(105, 104, 104);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.game-name {
    width: 100%;
    height: 40px;
    margin: 2px 0;
    font-size: 3ch;
    color: #141414; 
    overflow: hidden;
}

.game-desc {
    font-size: 2ch;
    margin: 2px 0;
    color: #cacaca;
}

/* Vertikal grid-riktning (small screen) */
@media (max-width: 767px) {
    .game-container {
        grid-template-columns: auto;
    }
}