* {
    scroll-behavior: smooth;
}

.Landingpage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 45, 45, 0.582);
}

.Landingpage-image img{
    display: flex;
    width: 50%;
    height: 50vh;
    float: left;
    object-fit: cover;
    z-index: 50;
}

#image-top-left img{
    border-radius: 0% 0% 80% 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

#image-top-right img{
    border-radius: 0% 0% 0% 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

#image-bottom-left img{
    border-radius: 0% 80% 0% 0%;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.6), 0 6px 20px 10px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

#image-bottom-right img{
    border-radius: 80% 0% 0% 0%;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.6), 0 6px 20px 10px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
#image-top-left, 
#image-top-right,
#image-bottom-left,
#image-bottom-right,
img:hover{
    transition: 0.5s;
    filter: saturate(2);
    transform: scale(1.01);
    z-index: 10;
}

.Landingpage-video video{
    z-index: -2;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.Greeting-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    border-radius: 50%;
    text-align: center;
    width: 30%;
    height: 32%;
    background: rgba(56, 50, 50, 0.719);
    z-index: 3;
}

.Greeting-introduction h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #a019bb, #d3ae07);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 100;
}

.Greeting-introduction span {
    font-size: 3vw;
    text-decoration: underline rgba(70, 69, 69, 0.425);
}
